<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${currentOperation} + ' new income'">... new income</title>
</head>
<body>
    <h2><span th:text="${currentOperation}">...</span> new income</h2>
    <form action="#" th:action="@{/incomes/save}" method="post" th:object="${existing}">
        <input type="hidden" name="id" th:value="*{id}">
        <label for="fname">Kwota:</label><br>
        <input type="text" id="fname" name="amountInPolishGrosz" value="100" th:value="*{amountInPolishGrosz}"><br>
        <label for="lname">Dzień wypłaty:</label><br>
        <input type="text" id="lname" name="incomeDate" value="2021-05-31" th:value="*{incomeDate}"><br>
        <label for="source">Zródło:</label><br>
        <input type="text" id="source" name="incomeSource" value="testiowa" th:value="*{incomeSource}"><br>
        <label for="type">Typ:</label><br>
        <input type="text" id="type" name="incomeType" value="MOPS" th:value="*{incomeType}"><br>
        <input type="submit" value="Zapisz">
    </form>
    <br>
    <a href="#" th:href="@{/home}">Home page</a>
</body>
</html>